ClienteProductoWS/src/conf/xml-resources/web-service-references/ProductoWS/wsdl/localhost_8084/ProductoWSHibernate/ProductoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservices.services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.services/">

<xs:element name="BuscarProducto" type="tns:BuscarProducto" />

<xs:element name="BuscarProductoResponse" type="tns:BuscarProductoResponse" />

<xs:element name="ConsultarProductos" type="tns:ConsultarProductos" />

<xs:element name="ConsultarProductosResponse" type="tns:ConsultarProductosResponse" />

<xs:element name="IngresarProducto" type="tns:IngresarProducto" />

<xs:element name="IngresarProductoResponse" type="tns:IngresarProductoResponse" />

<xs:complexType name="BuscarProducto">
<xs:sequence>
<xs:element name="codigo" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IngresarProducto">
<xs:sequence>
<xs:element name="codigo" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="precio" type="xs:int" />
<xs:element name="stock" type="xs:int" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IngresarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarProductos">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ConsultarProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="codigo" type="xs:int" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="precio" type="xs:int" />
<xs:element name="stock" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>